:root {
  --header-font: 'Arvo', sans-serif;
  --body-font: 'Merriweather', serif;

  --header-bg: #ffffff;
  --body-bg: #fafafa;
  --border-fg: #e0e0e0;

  --font-awesome-refresh-svg: url('data:image/svg+xml;utf8,<svg aria-hidden="true" data-prefix="fas" data-icon="sync-alt" class="svg-inline--fa fa-sync-alt fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="%235c616c" d="M370.72 133.28C339.458 104.008 298.888 87.962 255.848 88c-77.458.068-144.328 53.178-162.791 126.85-1.344 5.363-6.122 9.15-11.651 9.15H24.103c-7.498 0-13.194-6.807-11.807-14.176C33.933 94.924 134.813 8 256 8c66.448 0 126.791 26.136 171.315 68.685L463.03 40.97C478.149 25.851 504 36.559 504 57.941V192c0 13.255-10.745 24-24 24H345.941c-21.382 0-32.09-25.851-16.971-40.971l41.75-41.749zM32 296h134.059c21.382 0 32.09 25.851 16.971 40.971l-41.75 41.75c31.262 29.273 71.835 45.319 114.876 45.28 77.418-.07 144.315-53.144 162.787-126.849 1.344-5.363 6.122-9.15 11.651-9.15h57.304c7.498 0 13.194 6.807 11.807 14.176C478.067 417.076 377.187 504 256 504c-66.448 0-126.791-26.136-171.315-68.685L48.97 471.03C33.851 486.149 8 475.441 8 454.059V320c0-13.255 10.745-24 24-24z"></path></svg>');
}

body {
  margin: 0;

  font-family: var(--body-font);
  background: var(--body-bg);
}

.hidden {
  display: none;
}

.column-layout {
  display: flex;
}

.column-layout__fixed {
  flex: 0 0 auto;
}

.column-layout__fixed--narrow {
  width: 380px;
}

.column-layout__flexible {
  flex: 1 1 auto;
}

.column-layout__gap {
  flex: 0 0 auto;
  padding-left: 16px;
}

/* Header & page layout */

.header,
.narrow-layout {
  max-width: 980px;
  margin: auto;
}

.narrow-layout {
  padding: 16px;
}

.header {
  display: flex;
  padding: 0 16px;

  font-family: var(--header-font);
}

.header-container {
  border-bottom: 1px solid var(--border-fg);
  background: var(--header-bg);
}

.header__title {
  line-height: 64px;

  font-size: 22px;
  font-weight: bold;
}

.header__right {
  margin-left: auto;
  line-height: 64px;
}

/* Inputs */

.input-label {
  display: block;
  padding: 12px 0 4px;
}

.input {
  display: block;
  padding: 8px 0;
  margin-bottom: 12px;
}

.title-input, .input {
  border: 0;
  border-bottom: 2px solid #afafaf;

  &:hover {
    border-color: #70b1d2;
  }

  &:focus {
    border-color: #129de4;
    box-shadow: 0px 2px 5px -4px #8ecffa;
  }
}

.title-input {
  padding: 12px 0;
  margin-bottom: 12px;

  font-family: var(--header-font);
  font-size: 32px;
  font-weight: bold;
  background: var(--body-bg);

  &::placeholder {
    opacity: 1;
    color: #bababa;
  }
}

.fieldset {
  padding: 12px;
  margin: 0 0 12px 0;
  border: 1px solid var(--border-fg);
  background: #fff;
}

.fieldset__faux-legend {
  padding-bottom: 12px;
  font-size: 18px;
}

.button {
  padding: 8px 16px;
  border-radius: 4px;

  border: 1px solid var(--border-fg);
  background: #fff;

  transition: border-color 0.1s ease-in-out, color 0.1s ease-in-out;

  &:hover {
    cursor: pointer;

    background: #f6fafd;
    border-color: #129de4;
    color: #129de4;
  }
}

.button--primary {
  background: #129de4;
  color: #fff;

  &:hover {
    background: #0991d7;
    color: #fff;
  }
}

.button--inline {
  display: inline-block;
  vertical-align: middle;
  width: 34px;
  height: 34px;
  margin: 0 8px;
  border-radius: 50%;
}

.button--refresh,
.button--refresh:hover, .button--refresh:focus {
  background: var(--font-awesome-refresh-svg) center center / 16px 16px no-repeat;
}

.color-swatch {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 8px;

  border-radius: 100%;
}

.color-swatch--orange {
  background: #e5aa20;
}

.color-swatch--blue {
  background: #129de4;
}

.color-swatch--green {
  background: #26ab2e;
}

.radio-switch {
  margin: 16px 0;
  font-size: 14px;
}

.radio-switch__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.radio-switch__input:checked + .radio-switch__label {
  background: #129de4;
  color: #fff;
}

.radio-switch__label:first-of-type {
  padding-left: 16px;
  border-radius: 16px 0 0 16px;
}

.radio-switch__label:last-of-type {
  padding-right: 16px;
  border-radius: 0 16px 16px 0;
}

.radio-switch__label {
  padding: 6px 12px;

  border: 1px solid #e0e0e0;

  transition: border-color 0.1s ease-in-out,
    background 0.1s ease-in-out,
    color 0.1s ease-in-out;
  
  &:hover {
    cursor: pointer;

    background: #f6fafd;
    border-color: #129de4;
    color: #129de4;
  }
}

/* View-specific styles */

.graph-preview {
  width: 200px;
  height: 200px;
  
  border: 1px solid var(--border-fg);
}
