.card {
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid var(--border-fg);
  background: #fff;
}

.card--error {
  background: var(--error-bg);
  border-color: var(--error-border-fg);
}

.card--info {
  background: var(--info-bg);
  border-color: var(--info-border-fg);
}

.card__title {
  display: block;
  margin-bottom: 16px;
  font-size: 18px;
}

.card__title--extra {
  margin-top: 16px;
}

.card__link {
  cursor: pointer;
  text-decoration: underline;

  &:hover {
    font-weight: bold;
  }
}

.card__link--info {
  color: var(--info-link-fg); 
}

/* TODO: find a less hacky way to remove redundant margins inside cards */
.card > p:first-child {
  margin-top: 0px;
}

.card > p:last-child {
  margin-bottom: 0px;
}
