.card {
  padding: 12px;
  margin-bottom: 16px;
  border: 1px solid var(--border-fg);
  background: #fff;
}

.card--error {
  background: var(--error-bg);
  border-color: var(--error-border-fg);
}

.card__title {
  padding-bottom: 16px;
  font-size: 18px;
}

.card__title--extra {
  margin-top: 32px;
}

