.card {
  padding: 12px;
  margin: 0 0 12px 0;
  border: 1px solid var(--border-fg);
  background: #fff;
}

.card__title {
  padding-bottom: 16px;
  font-size: 18px;
}

.card__title--extra {
  margin-top: 32px;
}

