.graph-header {
  display: flex;
  padding-bottom: 32px;
  margin-bottom: 16px;

  border-bottom: 1px solid var(--border-fg);
}

.graph-header__preview {
  width: 100px;
  height: 100px;
  margin-right: 16px;

  border: 1px solid var(--border-fg);
  background: #fff;
}

.graph-header__title {
  margin: 0;
  line-height: 100px;
}

@media (--mobile-device) {
  .graph-header {
    margin: 0 auto 16px;
    width: var(--mobile-column-width);
    min-width: var(--fixed-column-width);
  }
}

.pip-history-tip {
  display: none;
}

.pip-history:empty + .pip-history-tip {
  display: block;
}
